$top-nav-height: 56px;

.dashboard {
    height: 100%;
    .below-top-nav {
        min-height: calc(100% - #{$top-nav-height});
        .content-wrapper {
            .content {
                margin-top: 2rem;
                padding: 0 15px;
            }
        }
    }
}

